
h1, h2{
  text-align: center;
}
.logo{
  background-image: url('https://www.seekpng.com/png/detail/263-2635426_deportes-utd-universidad-tecnologica-de-durango-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
